---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Hello There! I'm Victor.
A Application Support Engineer, focused in observability and web apps.


---
`
<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Victor Paiva</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Linkedin</a>
    </p>

</Layout>
