---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://www.linkedin.com/in/victorspaiva/?locale=en_US" class="decoration-dashed text-primary underline-offset-8"> LinkedIn </a>
    </p>
</footer>
